<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>D3 Diff</title>
  <style type="text/css">
   .bg-red { background-color: #f88; }
   .bg-green { background-color: #8f8; }
   .indent { padding-left: 48px; margin: 0; }
   .label { display: inline-block; width: 80px; text-align: right; }
   a { color: #00f; text-decoration: none; }
   a:hover { text-decoration: underline; }
   i { font-size: 16px; display: block; background-color: #ccc; padding: 2px; margin-bottom: 3px; }
   div { border: 1px solid black; margin-bottom: 6px; padding-bottom: 3px; }
  </style>
  <script src="/external/jquery.min.js"></script>
  <script type="text/javascript">
   $(function() {
     $(".ptr_link").each(function() {
       var href = $(this).attr("href");
       $(this).attr("href", location.protocol + "//" + location.hostname.replace("www.", "ptr.") + href);
     });
     $(".live_link").each(function() {
       var href = $(this).attr("href");
       $(this).attr("href", location.protocol + "//" + location.hostname.replace("ptr.", "www.") + href);
     });
   });
  </script>
 </head>
 <body>
  <a href="/diff/items">Items</a> | Sets | <a href="/diff/powers">Skills</a> | <a class="live_link" href="/game/itemsets">Live</a> | <a class="ptr_link" href="/game/itemsets">PTR</a>
